[Unit]
Requires=minecraft-server.service
After=minecraft-server.service
#JoinsNamespaceOf=minecraft-server.service

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:25566
#PrivateNetwork=yes
